[submodule "externals/IconFontCppHeaders"]
	path = externals/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "externals/argparse"]
	path = externals/argparse
	url = https://github.com/p-ranav/argparse
[submodule "externals/cmake-modules"]
	path = externals/cmake-modules
	url = https://github.com/rpavlik/cmake-modules
[submodule "externals/cmakerc"]
	path = externals/cmakerc
	url = https://github.com/vector-of-bool/cmrc
[submodule "externals/filesystem"]
	path = externals/filesystem
	url = https://github.com/gulrak/filesystem
[submodule "externals/glfw"]
	path = externals/glfw
	url = https://github.com/glfw/glfw
[submodule "externals/glm"]
	path = externals/glm
	url = https://github.com/g-truc/glm
[submodule "externals/imGuIZMO.quat"]
	path = externals/imGuIZMO.quat
	url = https://github.com/BrutPitt/imGuIZMO.quat
[submodule "externals/imgui"]
	path = externals/imgui
	url = https://github.com/ocornut/imgui
[submodule "externals/imgui-filebrowser"]
	path = externals/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
[submodule "externals/implot"]
	path = externals/implot
	url = https://github.com/epezent/implot
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/nlohmann/json
[submodule "externals/nanovg"]
	path = externals/nanovg
	url = https://github.com/memononen/nanovg
[submodule "externals/spdlog"]
	path = externals/spdlog
	url = https://github.com/gabime/spdlog
[submodule "externals/stduuid"]
	path = externals/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "externals/tinyfsm"]
	path = externals/tinyfsm
	url = https://github.com/digint/tinyfsm
